@import "../../../../../sassStyles/mixins";
@import "../../../../../sassStyles/variables";

.admin-sidebar {
    z-index: 5;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: $light;
    width: fit-content;
    padding: 1em 1em 1em 2em;
    min-height: 100vh;
    box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
    @include transition(
        min-width 0.4s ease,
        padding 0.4s ease,
        max-width 0.4s ease
    );

    .logo-ul {
        font-size: 0.9em !important;
        margin-bottom: 1em;

        .logo-li {
            white-space: nowrap;
        }
    }

    hr {
        border: 0.5px thick $hrLine;
    }

    .title {
        color: $lightDarker;
        padding: 0 1em;
        margin-top: 2em;
        margin-bottom: 0.5em;
        text-transform: uppercase;

        p {
            font-size: 0.9em;
        }
    }

    .item {
        padding: 0.6em 1em;
        border-radius: 0.3em;
        color: $darkLighter;
        cursor: pointer;
        overflow: hidden;
        @include transition(all 0.25s ease);

        &.dashboard {
            margin-bottom: 1em;
        }

        &.active {
            color: $light;
            background: linear-gradient(
                45deg,
                $primaryColorDark,
                $primaryColor
            );
            box-shadow: $primaryColor 0px 0px 15px;
        }

        &:hover {
            &.active {
                box-shadow: $primaryColor 0px 0px 15px 2px;
                @include transition(all 0.25s ease);
            }

            div {
                transform: translateX(5px);
                @include transition(all 0.25s ease);
            }
        }

        .content {
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;
            @include transition(all 0.25s ease);

            .icon {
                font-size: 1.1em;
            }

            p {
                position: absolute;
                margin-left: 1.75em;
                font-size: 1em;
                white-space: nowrap;
            }
        }
    }
}

@include breakpoint(tablet) {
    .admin-sidebar {
        min-width: 275px;
    }
}

@include breakpoint(desktop) {
    .admin-sidebar {
        &.closed {
            align-items: center;
            padding: 1em 0.5em;
            min-width: 0;
            overflow: hidden;

            hr {
                margin: 0.5em 0;
                width: 70% !important;
            }

            .logo-ul {
                .logo-li {
                    span {
                        display: none;
                    }
                }
            }

            .title {
                display: none;
            }

            .item {
                width: fit-content;
                padding: 0.6em;
                white-space: nowrap;

                &.dashboard {
                    margin-bottom: 0 !important;
                }

                p {
                    display: none;
                }
            }
        }
    }
}

@include breakpoint-max(desktop) {
    .admin-sidebar {
        position: absolute;
        overflow: hidden;
        padding: 2em;

        &.closed {
            padding-left: 0;
            padding-right: 0;
            max-width: 0;
        }

        .item {
            .content {
                p {
                    position: relative !important;
                }
            }
        }
    }
}
