@import "../../sassStyles/mixins";
@import "../../sassStyles/variables";

.square-button {
    color: $light;
    border: none;
    border-radius: 0.2em;
    overflow: hidden;
    text-decoration: none;
    padding: 0.5em;
    width: 100%;
    font-size: 1em;
    cursor: pointer;
    @include bkg-img-transition(
        linear-gradient(45deg, $primaryColor, $primaryColorDark),
        linear-gradient(45deg, $primaryColorDark, $primaryColorDarker)
    );
}
