@import "../../../sassStyles/variables";

.error-404 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: $light;
    padding: 8em 1em;

    .oops {
        margin-bottom: 0.5em;
    }

    h2 {
        font-size: 1.1em;
    }

    .square-button {
        margin-top: 1em;
        width: fit-content;
        padding-left: 4em;
        padding-right: 4em;
    }

    .logo-404 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1em;

        h1 {
            font-size: 8em;
        }
    }
}
