@import "../../../../sassStyles/mixins";
@import "../../../../sassStyles/variables";

.user-orders {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: $light;

    .content {
        text-align: center;
        padding: 5em;
        width: 100%;
        overflow-x: auto;

        h2 {
            font-size: 1.7em;
            margin-bottom: 1em;
        }

        .table-content-div {
            width: 100%;
            overflow-x: auto;
        }

        table {
            border-collapse: collapse;
            border-spacing: 2em;

            thead {
                tr {
                    th {
                        color: $darkLighter;
                        text-align: left;
                        font-size: 0.95em;
                        letter-spacing: 1px;

                        &:not(:last-child) {
                            padding: 0 2em;
                        }

                        &:first-child {
                            padding-left: 0;
                        }

                        &:not(:first-child) {
                            text-align: center;
                        }
                    }
                }
            }

            tbody {
                padding-top: 1em;

                tr {
                    border-bottom: 1px solid $hrLine;

                    td {
                        &:not(:last-child) {
                            padding: 1.5em 2em;
                        }

                        &:first-child {
                            padding-left: 0;
                        }

                        &:not(:first-child) {
                            text-align: center;
                        }

                        &.product {
                            display: flex;
                            flex-direction: row;
                            gap: 1em;

                            h4 {
                                font-size: 1em;
                                max-width: 200px;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }

                            p {
                                color: $darkLighter;
                                margin: 0.3em 0;
                                font-size: 0.9em;
                                max-width: 200px;
                            }
                        }

                        &.quantity {
                            .quantity-div {
                                display: flex;
                                flex-direction: row;
                                justify-content: center;
                                align-items: center;
                                gap: 1em;
                            }
                        }

                        &.total {
                            h3 {
                                white-space: nowrap;
                            }
                        }

                        &.status {
                            &.finished {
                                div {
                                    border-radius: 3em;
                                    padding: 0.2em 1.5em;
                                    background-color: rgb(203, 255, 203);
                                    color: rgb(0, 104, 0);
                                    white-space: nowrap;
                                }
                            }

                            &.not-finished {
                                div {
                                    border-radius: 3em;
                                    padding: 0.2em 1.5em;
                                    background-color: #fff9c4;
                                    color: #f9a825;
                                }
                            }
                        }

                        &.details {
                            a {
                                color: blue;
                                cursor: pointer;
                                @include transition(all 0.25s ease);

                                &:hover {
                                    color: rgb(0, 0, 100);
                                }

                                .icon {
                                    margin-right: 0.3em;
                                }
                            }
                        }

                        h3 {
                            font-size: 1em;
                        }

                        .product-id {
                            text-align: left !important;
                        }
                    }
                }
            }

            .product-img {
                width: 100px;
                height: 70px;
                object-fit: cover;
                object-position: center;
                border-radius: 0.5em;
            }
        }
    }
}

@include breakpoint-max(desktop) {
    .user-orders {
        flex-wrap: wrap !important;
    }
}

@include breakpoint-max(tablet) {
    .user-orders {
        padding: 6em 3em;

        .content {
            padding-right: 0;
        }
    }
}
