@import "../../../../sassStyles/variables";

.admin-dashboard {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .first-statistics {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: stretch;
        gap: 2em;
    }

    .total-orders-chart {
        background-color: $light;
        width: 100%;
        padding: 1em;
        border-radius: 0.3em;
        box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
        flex-basis: 45%;
        flex-grow: 1;
    }
}
