@mixin css3-prefix($prop, $value) {
    -webkit-#{$prop}: #{$value};
    -moz-#{$prop}: #{$value};
    -ms-#{$prop}: #{$value};
    -o-#{$prop}: #{$value};
    #{$prop}: #{$value};
}

@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content;
    }
    @-moz-keyframes #{$name} {
        @content;
    }
    @keyframes #{$name} {
        @content;
    }
}

@mixin breakpoint($point) {
    @if $point == large {
        @media only screen and (min-width: 1366px) {
            @content;
        }
    } @else if $point == desktop {
        @media only screen and (min-width: 1024px) {
            @content;
        }
    } @else if $point == tablet {
        @media only screen and (min-width: 600px) {
            @content;
        }
    }
}

@mixin breakpoint-max($point) {
    @if $point == large {
        @media only screen and (max-width: 1366px) {
            @content;
        }
    } @else if $point == desktop {
        @media only screen and (max-width: 1024px) {
            @content;
        }
    } @else if $point == tablet {
        @media only screen and (max-width: 600px) {
            @content;
        }
    }
}

@mixin text-shorten {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin placeholder {
    &.placeholder {
        @content;
    }
    &:-moz-placeholder {
        @content;
    }
    &::-moz-placeholder {
        @content;
    }
    &:-ms-input-placeholder {
        @content;
    }
    &::-webkit-input-placeholder {
        @content;
    }
}

@mixin transition($x...) {
    transition: $x;
    -webkit-transition: $x;
    -moz-transition: $x;
    -ms-transition: $x;
    -o-transition: $x;
}

@mixin bkg-img-transition($bkg1, $bkg2, $transTime: 0.5s) {
    position: relative;
    z-index: 2;
    &:before,
    &:after {
        background-size: cover;
        content: "";
        display: block;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        transition: opacity $transTime;
    }
    &:before {
        z-index: -101;
        background-image: #{$bkg1};
    }
    &:after {
        z-index: -100;
        opacity: 0;
        background-image: #{$bkg2};
    }
    &:hover {
        &:after {
            opacity: 1;
        }
    }
}

@mixin centerer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin filter($value) {
    -webkit-filter: $value;
    -moz-filter: $value;
    -o-filter: $value;
    filter: $value;
}
