@import "../../sassStyles/mixins";
@import "../../sassStyles/variables";

.navbar {
    position: relative;
    z-index: 999;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    background-color: $light;
    width: 100%;
    padding: 1em 2em;
    border-bottom: 1px solid rgb(228, 228, 228);
    @include transition(all 0.5s ease);

    &.bottom {
        position: fixed;
        background-color: $light;
        padding: 0.25em 2em;
        border-bottom: 1px solid rgb(228, 228, 228);

        ul li {
            color: $dark;
            &.login-li {
                &:hover {
                    color: $dark;
                }
            }

            &.cart-li {
                &:hover {
                    background-color: $dark;
                }
            }
        }
    }

    ul {
        display: flex;
        flex-direction: row;
        gap: 10%;
        place-content: center;
        align-items: center;
        text-decoration: none;
        list-style-type: none;

        &:nth-child(2) {
            width: auto;
        }

        &.center-ul {
            flex-wrap: wrap;
            flex-grow: 1;
        }

        li {
            color: $dark;
            font-size: 1em;
            font-weight: bold;
            text-transform: uppercase;
            text-decoration: none;
            list-style-type: none;
            cursor: pointer;

            @include transition(all 0.25s ease);

            &:hover {
                color: $primaryColor;
            }

            &.login-li {
                color: $primaryColor;
                display: flex;
                flex-direction: row;

                &:hover {
                    color: $dark;
                }

                .login-icon {
                    font-size: 1.5em;
                    padding-bottom: 6px;
                }
            }

            &.cart-li {
                background-color: $primaryColor;
                border-radius: 50%;
                padding: 0.5em;

                &:hover {
                    background-color: $dark;

                    * {
                        color: $primaryColor;
                    }
                }

                .cart-icon {
                    font-size: 1.5em;
                }
            }
        }
    }

    &.home {
        background-color: transparent !important;
        border-bottom: none;

        ul li {
            color: $light;
            &.login-li {
                &:hover {
                    color: $primaryColor;
                }
            }

            &:hover {
                color: $primaryColor;
            }

            &.cart-li {
                &:hover {
                    background-color: $light;
                }
            }
        }
    }
}

@include breakpoint-max(tablet) {
    .navbar .login-ul {
        flex-grow: 1;
    }
}
