@import "../../sassStyles/mixins";
@import "../../sassStyles/variables";

.navbar {
    position: relative;
    z-index: 999;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    background-color: $light;
    width: 100%;
    padding: 1em 2em;
    border-bottom: 1px solid rgb(228, 228, 228);
    @include transition(padding 0.5s ease);

    .mobile-wrapper {
        display: none;
    }

    ul {
        display: flex;
        flex-direction: row;
        gap: 10%;
        place-content: center;
        align-items: center;
        text-decoration: none;
        list-style-type: none;

        &:nth-child(2) {
            width: auto;
        }

        &.center-ul {
            flex-wrap: wrap;
            flex-grow: 1;

            .active {
                color: $primaryColor !important;
            }
        }

        &.login-ul {
            gap: 1em !important;
        }

        li {
            color: $dark;
            font-size: 1em;
            font-weight: bold;
            text-transform: uppercase;
            text-decoration: none;
            list-style-type: none;
            cursor: pointer;

            @include transition(all 0.25s ease);

            &:hover {
                color: $primaryColor;
            }

            &.login-li {
                display: flex;
                flex-direction: row;
                align-items: flex-end;
                gap: 0.2em;
                color: $primaryColor;
                text-transform: none !important;
                font-size: 1.1em;

                &:hover {
                    color: $dark;
                }

                .login-icon {
                    font-size: 1.2em;
                }

                &.user-logged {
                    position: relative;
                    color: $primaryColor;

                    &:hover {
                        color: $primaryColorDark;
                    }

                    .person-icon {
                        margin-left: 10px;
                        font-size: 1.7em;
                    }

                    .dropdown {
                        display: none;
                        position: absolute;
                        top: 2.5em;
                        right: 0;
                        background-color: $light;
                        padding: 1em 1em 1em 1em;
                        width: 180px;
                        border-radius: 0.3em;
                        box-shadow: rgba(14, 30, 37, 0.02) 0px 2px 4px 0px,
                            rgba(14, 30, 37, 0.22) 0px 2px 16px 0px;

                        &.open {
                            display: block;
                        }

                        &::before {
                            content: "";
                            width: 0px;
                            height: 0px;
                            border-style: solid;
                            border-width: 10px 10px 0px 10px;
                            border-color: $light transparent transparent
                                transparent;
                            display: inline-block;
                            vertical-align: middle;
                            position: absolute;
                            transform: rotateZ(180deg);
                            top: -8px;
                            right: 5px;
                            margin: 0 auto;
                        }

                        .dropdown-ul {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            gap: 0.6em;

                            li {
                                font-size: 0.75em;
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                gap: 0.4em;
                                color: $darkLighter !important;
                                text-transform: none !important;

                                &:hover {
                                    color: $primaryColorDark !important;
                                }

                                .icon {
                                    font-size: 1.3em;
                                }
                            }
                        }
                    }
                }
            }

            &.cart-li {
                position: relative;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                background-color: $primaryColor;
                border-radius: 50%;
                width: 40px;
                height: 40px;

                &:hover {
                    background-color: $dark;

                    * {
                        color: $primaryColor;
                    }

                    .cart-count {
                        background-color: $secondaryColorDark;
                    }
                }

                .cart-icon {
                    font-size: 1.5em;
                }

                .cart-count {
                    position: absolute;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    font-size: 1em;
                    top: -3px;
                    right: -3px;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    background-color: $secondaryColor;

                    &.plus {
                        font-size: 0.9em;
                        top: -12px;
                        right: -12px;
                        width: 30px;
                        height: 30px;
                    }
                }
            }
        }
    }

    &.home {
        &.top {
            background-color: transparent !important;
            border-bottom: none;

            ul li:not(.user-logged) {
                color: $light;
                &.login-li {
                    &:hover {
                        color: $primaryColor;
                    }

                    &.user-logged {
                        &:hover {
                            color: $primaryColorDark;
                        }
                    }
                }

                &:hover {
                    color: $primaryColor;
                }

                &.cart-li {
                    &:hover {
                        background-color: $light;
                    }
                }
            }
        }
    }
}

@include breakpoint-max(desktop) {
    .navbar .login-ul {
        flex-grow: 1;
    }

    .navbar {
        flex-direction: column;

        ul {
            &.center-ul {
                display: none;
            }
        }

        .mobile-wrapper {
            display: block;
            flex-grow: 1;
            text-align: center;

            .icon {
                width: 100%;
            }

            .collapsable {
                @include transition(all 0.5s ease-out);
            }

            ul {
                margin-top: 1em;

                &.center-ul {
                    display: flex;
                    flex-direction: column;
                    gap: 0.5em;
                }
            }

            &.open {
                .collapsable {
                    max-height: 1000px;
                }
            }

            &:not(.open) {
                .collapsable {
                    max-height: 0px;
                    overflow: hidden;
                }
            }
        }
    }
}

@include breakpoint(desktop) {
    .navbar {
        &.home {
            &.bottom {
                position: fixed;
                background-color: $light;
                padding: 0.25em 2em;
                border-bottom: 1px solid rgb(228, 228, 228);

                ul li {
                    color: $dark;

                    &:hover {
                        color: $primaryColor;
                    }

                    &.login-li {
                        color: $primaryColor;
                        &:hover {
                            color: $primaryColorDark;
                        }
                    }

                    &.cart-li {
                        position: relative;

                        &:hover {
                            background-color: $dark;
                        }
                    }
                }
            }
        }
    }
}
