@import "../../../sassStyles/mixins";
@import "../../../sassStyles/variables";

.modal-cancel-button {
    color: $light;
    border: none;
    border-radius: 0.2em;
    overflow: hidden;
    text-decoration: none;
    padding: 0.5em 2em;
    width: fit-content;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    @include bkg-img-transition(
        linear-gradient(45deg, $secondaryColor, $secondaryColorDark),
        linear-gradient(45deg, $secondaryColorDark, $secondaryColorDarker)
    );
}
