@import "../../sassStyles/_variables.scss";

.footer {
    display: flex;
    flex-direction: column;
    gap: 1em;
    text-align: center;
    background-color: $light;
    padding: 2em;
    border-top: 1px solid $hrLine;

    .contato {
        display: flex;
        flex-direction: column;
        gap: 0.75em;
        text-align: center;
    }

    ul {
        display: flex;
        flex-direction: row;
        gap: 1em;
        justify-content: center;
        text-decoration: none;
        list-style-type: none;

        li {
            font-size: 1.3em;
            cursor: pointer;

            a {
                color: $dark;
            }

            &.whatsapp-icon a:hover {
                color: #25d366;
            }

            &.instagram-icon a:hover {
                color: #5851db;
                background: linear-gradient(
                    45deg,
                    #405de6,
                    #5851db,
                    #833ab4,
                    #c13584,
                    #e1306c,
                    #fd1d1d
                );
                -webkit-background-clip: text;
                -moz-background-clip: text;
                -webkit-text-fill-color: transparent;
                -moz-text-fill-color: transparent;
            }
        }
    }

    hr {
        border: solid 0.001em $hrLine;
        margin: 1em;
    }

    .address {
        p {
            color: $darkLighter;
        }
    }

    .footer-logo {
        display: flex;
        flex-direction: row;
        gap: 0.5em;
        justify-content: center;
        color: $primaryColor;

        .logo {
            width: 70px;
            height: 70px;
        }

        span {
            align-self: center;
            font-size: 1.5em;
        }
    }
}
