@import "../../sassStyles/variables";
.logo-ul {
    text-decoration: none;
    list-style-type: none;

    .logo-li {
        display: flex;
        flex-direction: row;
        gap: 0.5em;
        align-items: center;
        color: $primaryColor !important;
        font-size: 1em;
        font-weight: bold;
        text-transform: uppercase;

        .logo {
            font-size: 4em;
        }
    }
}
