@import "../../../../../sassStyles/mixins";
@import "../../../../../sassStyles/variables";

.admin-navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    padding: 0.8em 1em;
    margin-bottom: 1.5em;
    border-radius: 0.3em;
    background-color: $light;
    box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);

    .item {
        color: $darkLighter;
        width: fit-content;
        height: fit-content;
        @include transition(all 0.25s ease);

        &:not(.path) {
            cursor: pointer;
        }

        &:hover:not(.path) {
            color: $primaryColor;
        }

        &.path {
            flex-grow: 1;
        }

        &.user {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0.5em;

            p {
                font-size: 0.7em;
                text-align: right;
            }

            .user-icon {
                font-size: 2em;
            }
        }

        .icon {
            font-size: 1.65em;
        }
    }
}
