@import "../../../sassStyles/mixins";
@import "../../../sassStyles/variables";

.contact-us {
    background-color: $light;
    padding-bottom: 5em;

    .img-header {
        position: relative;
        min-height: 350px;
        background: linear-gradient(
            90deg,
            $primaryColorDark,
            $primaryColor,
            $primaryColorLight
        );
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 0.5em;
        padding: 2em 8em;
        margin-bottom: 5em;
        overflow: hidden;

        .text {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            gap: 0.5em;

            h1 {
                color: $light;
                font-size: 2.5em;
            }

            hr {
                border: 2px solid rgba(0, 0, 0, 0.2);
                max-width: 250px;
            }

            p {
                color: $light;
                max-width: 700px;
                text-align: justify;
            }
        }

        img {
            max-width: 350px;
        }
    }

    .contacts-forms {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        min-height: 300px;

        .content {
            position: absolute;
            top: -110px;
            display: flex;
            flex-direction: row;
            align-items: stretch;
            justify-content: space-evenly;
            width: 80%;

            .first {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                gap: 1.5em;
                padding: 2em;
                width: 40%;
                background-color: $light;
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

                h3 {
                    font-size: 1.1em;
                }

                ul {
                    display: flex;
                    flex-direction: row;
                    gap: 1em;
                    justify-content: center;
                    text-decoration: none;
                    list-style-type: none;

                    li {
                        font-size: 1.5em;
                        cursor: pointer;

                        a {
                            color: $dark;
                        }

                        &.facebook-icon a:hover {
                            color: #4267b2;
                        }

                        &.whatsapp-icon a:hover {
                            color: #25d366;
                        }

                        &.instagram-icon a:hover {
                            color: #5851db;
                            background: linear-gradient(
                                45deg,
                                #405de6,
                                #5851db,
                                #833ab4,
                                #c13584,
                                #e1306c,
                                #fd1d1d
                            );
                            -webkit-background-clip: text;
                            -moz-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            -moz-text-fill-color: transparent;
                        }
                    }
                }

                p {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    gap: 0.5em;
                }
            }

            .second {
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 0.5em;
                padding: 2em;
                width: 40%;
                background-color: $light;
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

                .email-icon {
                    font-size: 3em;
                    color: $primaryColor;
                }

                form {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 1em;
                    width: 100%;

                    .input-text {
                        border-top: none;
                        border-right: none;
                        border-left: none;
                        border-radius: 0;
                        padding-left: 0.5em;
                        width: 100%;
                        font-size: 0.85em;
                    }

                    .text-area {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@include breakpoint-max(desktop) {
    .contact-us {
        .img-header {
            flex-wrap: wrap;
        }

        .contacts-forms {
            min-height: 700px;

            .content {
                flex-wrap: wrap;
                gap: 2.5em;

                .first,
                .second {
                    width: 100% !important;
                }
            }
        }
    }
}

@include breakpoint-max(tablet) {
    .contact-us {
        .img-header {
            padding: 2em 3em !important;
        }
    }
}
