@import "../../../sassStyles/mixins";
@import "../../../sassStyles/variables";

.filter-div {
    background-color: $light;
    padding: 2em;

    .inputs-filter-form {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1em;
        margin-top: 0.5em;
        width: 100%;

        .input-text {
            width: 100%;
            max-width: 300px;
        }

        .price-range-div {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: max-content;
            column-gap: 2.5em;
            row-gap: 1em;
            width: fit-content;

            .input-number {
                width: 100px;
            }

            .range-slider {
                min-width: 150px;
                max-width: 150px;
            }
        }

        .square-button {
            padding-left: 1em !important;
            padding-right: 1em !important;
            width: fit-content;
        }
    }
}

.products-div {
    padding-bottom: 5em;
    background-color: $light;

    .no-products {
        padding-top: 5em;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        p {
            font-size: 2em;
        }
    }

    .paginate-div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: fit-content;
        margin: auto;
        padding: 0.5em 0.75em;
        border-radius: 3em;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

        .paginate {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            gap: 1em;
            text-decoration: none;
            list-style-type: none;
            @include transition(all 0.25s ease);

            .paginate-item-li,
            .previous,
            .next,
            .paginate-break {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                width: 40px !important;
                height: 40px !important;
                @include transition(all 0.25s ease);
            }

            .paginate-item-li {
                &.paginate-active {
                    background-color: $primaryColor;

                    .paginate-page-link {
                        color: $light;
                    }
                }
                .paginate-page-link {
                    color: $dark;
                    font-weight: bold;
                }
            }

            .paginate-item-li,
            .previous,
            .next,
            .paginate-break {
                a {
                    cursor: pointer;
                    @include transition(all 0.25s ease);

                    &:hover {
                        color: $primaryColor;
                    }
                }
            }
        }
    }

    .paginate2 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1em;
        text-decoration: none;
        list-style-type: none;
        @include transition(all 0.25s ease);

        .rc-pagination-item,
        .rc-pagination-jump-prev,
        .rc-pagination-jump-next,
        .rc-pagination-prev,
        .rc-pagination-next {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            width: 40px !important;
            height: 40px !important;
            cursor: pointer;
            @include transition(all 0.25s ease);

            &:hover {
                a,
                button,
                svg {
                    color: $primaryColor;
                }
            }

            a,
            button,
            svg {
                color: $dark;
                font-weight: bold;
                @include transition(all 0.25s ease);
            }
        }

        .rc-pagination-item {
            &.rc-pagination-item-active {
                background-color: $primaryColor;

                a {
                    color: $light !important;
                }
            }
        }
    }
}
