@import "../../../sassStyles/mixins";
@import "../../../sassStyles/variables";

.product-page {
    background-color: rgb(240, 240, 240);
    padding: 2em 4em;

    .product-container {
        display: flex;
        flex-direction: row;
        position: relative;
        margin-left: 10em;
        background-color: $light;
        padding: 3.8em 0;
        box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
        border-radius: 0.3em;

        .product-images-box {
            display: flex;
            flex-direction: column;
            background-color: $primaryColor;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            position: absolute;
            top: 2em;
            left: -2em;
            border-radius: 0.3em;
            height: 470px;
            width: 500px;

            .carousel-slider {
                border-radius: 0.3em;
                overflow: hidden;
            }

            .img-carousel {
                position: absolute;
                top: 2em;
                left: -2em;
                width: 500px;
                border-radius: 0.3em;
                overflow: hidden;

                .img-parent {
                    img {
                        overflow: hidden;
                        height: calc(400px - 4em);
                    }
                }

                .thumbs-wrapper {
                    margin-left: 25%;
                    margin-right: 25%;

                    .thumbs {
                        text-align: center;

                        .thumb {
                            padding: 0 !important;
                            cursor: pointer;

                            &:not(.selected) {
                                border: none !important;
                            }
                        }
                    }

                    .control-prev {
                        left: 20%;
                        &::before {
                            border-right-color: $dark;
                        }
                    }

                    .control-next {
                        right: 20%;
                        &::before {
                            border-left-color: $dark;
                        }
                    }
                }
            }
        }

        .img-carousel {
            .img-parent {
                img {
                    height: 100px;
                    width: 100%;
                    object-fit: cover;
                }
            }
        }

        .product-details {
            display: flex;
            flex-direction: column;
            padding: 0em 2em 0 2em;
            margin-left: 500px;

            .title {
                color: $dark;
                font-size: 1.6em;
            }

            .product-id {
                color: $darkLighter;
                margin-bottom: 1em;
            }

            .price {
                display: flex;
                flex-direction: row;

                margin-bottom: 1.5em;

                h4 {
                    color: $primaryColor;
                    margin-right: 1em;
                    font-size: 1.7em;
                }

                h3 {
                    color: $primaryColor;
                    font-size: 2.5em;
                }
            }

            .description {
                margin-bottom: 1.5em;
                p {
                    color: $dark;
                    text-align: justify;
                    font-size: 1em;
                }
            }

            .extras {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 1em;
                margin-bottom: 1.5em;
            }

            .quantity {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 1em;
                margin-bottom: 1.5em;

                .icon {
                    color: $primaryColor;
                    font-size: 1.1em;
                    cursor: pointer;
                    transition: all 0.25s ease;

                    &:hover {
                        color: $primaryColorDark;
                    }
                }
            }

            .storage {
                color: $darkLighter;
                margin-bottom: 1.5em;
                font-size: 0.9em;

                .mid-storage {
                    color: rgb(255, 123, 0);
                }

                .zero-storage {
                    color: $secondaryColor;
                }
            }

            .product-buttons {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;

                justify-content: center;
                row-gap: 0.5em;
                column-gap: 2em;

                .square-button {
                    max-width: 250px;
                    z-index: 0;
                }
            }
        }
    }

    .related-products-container {
        display: flex;
        flex-direction: column;
        margin-top: 5em;
        align-items: center;
        justify-content: center;

        .related-products-container-title {
            font-size: 1.5em;
        }

        .related-products-container-hr {
            border: 2px solid $primaryColor;
            margin: 2em 0;
            width: 15%;
        }

        .products-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;

            .product-card-content {
                padding: 0;
            }
        }
    }
}

@include breakpoint-max(tablet) {
    .product-page {
        .product-container {
            .product-images-box {
                .img-carousel {
                    align-self: center !important;
                    max-width: 300px !important;
                }
            }
        }
    }
}

@include breakpoint-max(desktop) {
    .product-page {
        padding: 2em 1em;

        .product-container {
            flex-direction: column !important;
            margin-left: 0 !important;
            padding: 3.8em 2em;

            .product-images-box {
                background-color: transparent !important;
                box-shadow: none !important;
                position: relative !important;
                left: 0 !important;
                align-self: center;
                padding: 2em 2em;
                height: auto !important;

                .img-carousel {
                    position: relative !important;
                    top: 0 !important;
                    left: 0 !important;
                    width: auto !important;
                }

                .img-parent {
                    width: 100% !important;

                    img {
                        width: 100% !important;
                        height: auto !important;
                    }
                }
            }

            .product-details {
                margin-left: 0 !important;
                margin-top: 2em !important;
            }
        }
    }
}
