@import "../../sassStyles/variables";

.input-text {
    color: $dark;
    background-color: transparent;
    border: 2px solid $primaryColor;
    border-radius: 0.25em;
    padding: 0.75em 1em;
    text-decoration: none;
    outline: none;
    transition: all 0.25s ease;

    &:hover,
    &:focus {
        border-color: $primaryColorDark;
    }
}
