@import "../../../../../sassStyles/mixins";
@import "../../../../../sassStyles/variables";

.dashboard-card {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    background-color: $light;
    padding: 2.5em 3em;
    border-radius: 0.3em;
    box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
    flex: 1;

    &:hover {
        .row-statistics {
            .box-icon {
                .icon {
                    font-size: 2.8em;
                }
            }
        }
    }

    .title {
        color: $dark;
        font-size: 1.4em;
    }

    .row-statistics {
        display: flex;
        flex-direction: row;
        gap: 1em;
        flex-wrap: wrap;

        h4 {
            font-size: 1.8em;
            color: $darkLighter;
        }

        p {
            font-size: 1em;
        }

        .box-icon {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            height: 4.5em;
            width: 4.5em;
            border-radius: 50%;

            .icon {
                font-size: 2.2em;
                @include transition(all 0.5s ease);
            }
        }
    }
}
