@import "../../../sassStyles/mixins";
@import "../../../sassStyles/variables";

.about-us {
    background-color: $light;
    padding-bottom: 5em;

    .img-header {
        position: relative;
        min-height: 350px;
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.5em;
        padding: 0 8em;
        margin-bottom: 5em;
        overflow: hidden;

        h1 {
            color: $light;
            font-size: 2.5em;
        }

        hr {
            border: 2px solid rgba(0, 0, 0, 0.3);
            max-width: 250px;
        }

        p {
            color: $light;
            max-width: 700px;
            text-align: justify;
        }
    }

    .our-mission {
        display: flex;
        flex-direction: row;
        gap: 3em;
        justify-content: center;
        padding: 0 12em;

        .first {
            flex-grow: 1;
            width: calc(100% - 450px);

            p {
                text-align: justify;
            }
        }

        .second {
            width: 450px;
            height: 400px;
            border-radius: 1em;
            background-position: center;
            background-size: cover;
            overflow: hidden;
        }

        hr {
            border: 2px solid rgba(0, 0, 0, 0.3);
            width: 100px;
            margin-bottom: 1em;
        }

        h3 {
            font-size: 1.5em;
        }
    }
}

@include breakpoint-max(desktop) {
    .about-us {
        .our-mission {
            flex-wrap: wrap;
            padding: 0 3em !important;
        }
    }
}

@include breakpoint-max(tablet) {
    .about-us {
        .img-header {
            padding: 0 3em !important;
        }

        .our-mission {
            flex-wrap: wrap;
            padding: 0 3em !important;
        }
    }
}
