@import "../../../../sassStyles/mixins";
@import "../../../../sassStyles/variables";

.user-settings {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: $light;

    .content {
        text-align: center;
        padding: 5em 0;
        flex-grow: 1;

        .account {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1em;
            flex-grow: 1;

            h2 {
                font-size: 1.7em;
                margin-bottom: 1em;
            }

            .account-content-div {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 0.3em;
                overflow-x: auto;

                .item {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 1em;

                    h3 {
                        font-size: 1em;
                        width: 60px;
                    }

                    .input-text,
                    .input-password {
                        background-color: $inputReadOnlyColor;
                        padding: 0.5em 0.8em;
                    }

                    p {
                        color: $primaryColorDark;
                        cursor: pointer;
                        @include transition(all 0.25s ease);

                        &:hover {
                            color: $primaryColorDarker;
                        }
                    }
                }
            }
        }

        .address {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1em;
            flex-grow: 1;

            h2 {
                font-size: 1.7em;
                margin-top: 3em;
                margin-bottom: 1em;
            }

            .address-content-div {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                max-width: 700px;
                row-gap: 0.8em;
                column-gap: 3em;
                overflow-x: auto;

                .item {
                    display: flex;
                    flex-direction: column;
                    text-align: left;
                    gap: 0.2em;

                    &.item-description {
                        flex-grow: 1;
                    }

                    h3 {
                        font-size: 1em;
                        width: 100px;
                    }

                    .input-text,
                    .input-password,
                    .text-area {
                        padding: 0.5em 0.8em;
                    }

                    .text-area {
                        min-width: 300px;
                    }

                    .input-text:read-only,
                    .input-password:read-only {
                        background-color: $inputReadOnlyColor;
                    }

                    input.phone {
                        color: $dark;
                        background-color: transparent;
                        border: 2px solid $primaryColor;
                        border-radius: 0.25em;
                        padding: 0.5em 0.8em;
                        text-decoration: none;
                        outline: none;
                        transition: all 0.25s ease;

                        &:hover,
                        &:focus {
                            border-color: $primaryColorDark;
                        }
                    }

                    p {
                        color: $primaryColorDark;
                        cursor: pointer;
                        @include transition(all 0.25s ease);

                        &:hover {
                            color: $primaryColorDarker;
                        }
                    }
                }
            }

            .square-button {
                padding-left: 3em;
                padding-right: 3em;
                width: fit-content;
            }
        }
    }
}

.app-modal {
    .user-settings-field-change-div {
        .modal-input {
            margin-top: 1em;
            width: 100%;
        }
    }
}

@include breakpoint-max(desktop) {
    .user-settings {
        .content {
            .address {
                .address-content-div {
                    flex-direction: column;
                }
            }
        }
    }
}
