@import "../../../../sassStyles/mixins";
@import "../../../../sassStyles/variables";

.user-settings {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10em;
    padding: 6em 0;
    background-color: $light;

    .sidebar {
        display: flex;
        flex-direction: column;
        gap: 1em;
        padding: 0 12em 10em 12em;
        border-right: 2px solid $hrLine;

        .item {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1em;
            color: $darkLighter;
            font-size: 0.9em;
            cursor: pointer;
            transition: all 0.25s ease;

            &.active {
                color: $primaryColor;
            }

            &:not(.active):hover {
                color: $primaryColorDark;
            }
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: 1em;
        flex-grow: 1;

        h2 {
            font-size: 1.7em;
            margin-bottom: 1em;
        }

        .item {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1em;

            h3 {
                font-size: 1em;
            }

            .input-text,
            .input-password {
                background-color: $inputReadOnlyColor;
                padding: 0.5em 0.8em;
            }

            .input-text.name {
                margin-left: 0.135em;
            }

            .input-text.email {
                margin-left: 0.25em;
            }

            p {
                color: $primaryColorDark;
                cursor: pointer;
                @include transition(all 0.25s ease);

                &:hover {
                    color: $primaryColorDarker;
                }
            }
        }
    }
}
