@import "../../../../sassStyles/mixins";
@import "../../../../sassStyles/variables";

.orders-list-admin {
    display: flex;
    flex-direction: column;
    gap: 1em;

    .form-box {
        form {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: stretch;
            justify-content: flex-end;
            gap: 1em;

            .square-button {
                width: fit-content;
                padding: 0 2em !important;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
                    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px !important;
            }
        }
    }

    .orders-list-admin-search-box {
        align-self: flex-end;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.35em;
        width: fit-content;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
            rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        background-color: #fff;
        padding: 0.9em 1em;
        border-radius: 0.3em;
        @include transition(all 0.25s ease);
        cursor: text;

        &:hover,
        &:focus-within {
            background-color: rgb(248, 248, 248);
        }

        .input-text {
            flex-grow: 1;
            padding: 0 !important;
            border: none !important;
        }

        .icon {
            font-size: 1.1em;
        }
    }

    .table-box {
        box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
    }

    .rdt_Table {
        .product-img {
            height: 60px;
            width: 60px;
            object-fit: cover;
            object-position: center;
            padding-top: 3px;
            border-radius: 0.5em;
        }

        .user-anonym {
            color: #c7a500;
        }
    }

    .edit-column {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1.5em;
    }

    .rdt_TableRow {
        &:hover {
            background-color: rgba(0, 0, 0, 0.1);
        }

        .id {
            font-size: 1.2em;
            font-weight: bold;
        }

        .details-link {
            color: blue;
            font-size: 1.1em;
            cursor: pointer;
            @include transition(all 0.25s ease);

            &:hover {
                color: rgb(0, 0, 95);
            }

            .icon {
                margin-right: 0.5em;
            }
        }
    }
}

@include breakpoint(tablet) {
    .orders-list-admin {
        .orders-list-admin-search-box {
            min-width: 300px;
        }
    }
}
